<header>
  <app-nav-bar title="Github repos list"></app-nav-bar>
</header>
<main role="main">
  <div id="content-container">
    <router-outlet></router-outlet>
  </div>
</main>
<footer>
  <div id="footer-container">
    <hr>
    <p class="copyright">
      <abbr title="Copyright">&#169;</abbr> 2018,
      <!-- <a rel="noopener" target="_blank" href="http://yasselavila.com/">Yassel Avila Gil</a>. -->
      <a rel="noopener" href="mailto:yassel.avila@gmail.com">Yassel Avila Gil</a>.
    </p>
  </div>
</footer>
