:host {
  display: block;
  padding: 2rem 0;
  overflow: hidden;

  .spinner,
  .spinner:after {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
  }

  .spinner.big,
  .spinner.big:after {
    width: 7rem !important;
    height: 7rem !important;
  }

  .spinner {
    margin: 0 auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999rem !important;
    border: .5rem solid #e9ecef;
    border-left-color: #007bff;
    -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-animation: s-rotate 1.1s infinite linear;
            animation: s-rotate 1.1s infinite linear;
  }

  @-webkit-keyframes s-rotate {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

  @keyframes s-rotate {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
}
