<nav id="main-menu"
     role="navigation"
     class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <button type="button"
            class="navbar-toggler"
            [attr.data-toggle]="'collapse'"
            [attr.aria-label]="'Alternar menu'"
            [attr.aria-expanded]="!!navOpen ? 'true' : 'false'"
            (click)="toggleNav()">
      &#9776;
    </button>

    <a class="navbar-brand" routerLink="/" [title]="title">
      <img *ngIf="logo" [src]="logo" [alt]="title || ''">
      <h1 *ngIf="title" [innerText]="title"></h1>
    </a>

    <div class="collapse navbar-collapse"
         [ngClass]="{ 'off-canvas': !!offCanvas, 'active': navOpen }"
         (click)="toggleNavIfOpen()">

      <div class="collapse-content bg-dark" (click)="stopPropagation($event)">
        <div *ngIf="offCanvas && navOpen" class="header d-none d-xl-block">
          <img *ngIf="logo" [src]="logo" [alt]="title || ''">
          <h1 *ngIf="title" [innerText]="title"></h1>
        </div>
        <ul class="navbar-nav" (click)="toggleNavIfOpen()">
          <li class="nav-item">
            <a class="nav-link"
               routerLink="/"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }">
              Inicio
            </a>
          </li>
          <!-- NAV ITEMS -->
          <li *ngFor="let navItem of navItems" class="nav-item">
            <a class="nav-link"
               routerLinkActive="active"
               [routerLink]="navItem.routeData"
               [innerText]="navItem.text">
            </a>
          </li>
        </ul>

        <div class="input-group">
          <div class="input-group-prepend">
            <i class="github-circled"></i>
          </div>
          <input #query
                 type="text"
                 class="form-control"
                 placeholder="yasselavila"
                 (keyup.enter)="onSearch(query.value)">
          <div class="input-group-prepend">
            <button type="button"
                    class="btn btn-outline-secondary"
                    (click)="onSearch(query.value)">
              <i class="search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
