/* You can customize Bootstrap here by overwriting values defined
 * in "~bootstrap/scss/_variables" */

/* Options */
/* - Quickly modify global styling by enabling or disabling optional features */
$enable-rounded: true !default;
$enable-shadows: true !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;

/* Fonts */
/* - You can change the browser default value (typically `16px`) on ./base.scss */
$font-size-base: 1rem !default;

/* Navbar */
/* - Toggler */
$navbar-toggler-padding-y: 0 !default;
$navbar-toggler-padding-x: 0 !default;
$navbar-toggler-font-size: 1.6rem !default;
$navbar-toggler-border-radius: 0 !default;
